body {
    background: silver;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

*[role="form"] {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 3em;
    margin-bottom: 1em;
}

